@model DoAnWeb.Models.THANHPHO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var grid = new WebGrid(Model.QUANHUYENs, canPage: true, defaultSort: "PHUONGXAs.Count", rowsPerPage: 15);
}
<style>

    .i-1 {
        width: 120px;
    }

    .i-2 {
        width: 50px;
    }

    .btn-group {
        margin-bottom: 5px;
    }
</style>

<div>
    <h3>Chi tiết</h3>
    <hr />
    <div class="row">
        <div class="col-lg-6 row">
            <div class="col-lg-6">
                <h3>Mã: </h3>
                <h3>Tên thành phố: </h3>
            </div>
            <div class="col-lg-6">
                <h3><b class="id">#@Model.MATP</b></h3>
                <h3>@Model.TENTP</h3>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="btn-group"
                 onclick="location.href = '@Url.Action("Edit", "THANHPHOes", new{ id = Model.MATP})'">
                <button class="btn btn-warning i-1">
                    Sửa
                </button>
                <button class="btn btn-warning i-2">
                    <i class="fa fa-edit"></i>
                </button>
            </div><br />
            @if (Model.QUANHUYENs.Count > 0)
            {
                <div class="btn-group">
                    <button class="btn btn-danger i-1" disabled>
                        Xóa
                    </button>
                    <button class="btn btn-danger i-2" disabled>
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            }
            else
            {
                <div class="btn-group">
                    @Html.ActionLink("Xóa", "Delete", new { id = Model.MATP }, new { onclick = "return confirm('Bạn có muốn xóa thành phố này?');", Class = "btn btn-danger i-1" })
                
                    <a href="@Url.Action("Delete", "THANHPHOes", new { id = Model.MATP})" class="btn btn-danger i-2"
                       onclick="return confirm('Bạn có muốn xóa thành phố này?');">
                        <i class="fa fa-remove"></i>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<hr />
<div style="width: 100%;">
    <h3>Các Quận / Huyện thuộc Thành phố / Tỉnh <b>@Model.TENTP</b></h3>
    <div class="btn-group">
        <input type="button" class="btn btn-success" value="Thêm Quận / huyện"
               onclick="location.href = '@Url.Action("Create", "QUANHUYENs", new { id = Model.MATP})'" />
        <button class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>
</div>
@if (Model.QUANHUYENs.Count <= 0)
{
<h3>Còn trống</h3>
}
else
{
<div id="gridContent">
    @ViewBag.TB
    @grid.GetHtml(
            tableStyle: "table table-bordered table-hover",
            footerStyle: "table-pager",
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            alternatingRowStyle: "alternatingRowStyle",
              columns: new[] {
grid.Column("MAQH","Mã", format:@<text><h5>@item.MAQH</h5></text>),
grid.Column("TENQH","Tên", format:@<text> <h5 style="color: @(item.PHUONGXAs.Count>0?"green":"red")">@item.TENQH</h5></text>),
grid.Column("PHUONGXAs.Count","Số Phường / Xã", format:@<text> <h5 style="color: @(item.PHUONGXAs.Count>0?"green":"red")">@item.PHUONGXAs.Count</h5></text>),
grid.Column("","", format:@<text>
    <a href="@Url.Action("Details", "QUANHUYENs", new{ id = item.MAQH})">Xem chi tiết</a>
</text>),
})
</div>
}