@model PagedList.IPagedList<DoAnWeb.Models.MATHANG>
@using PagedList.Mvc;

@{
    ViewBag.Title = "IndexLaptop";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

        a div:hover img {
            position: relative;
            top: -5px;
        }

        a div:hover div {
            color: dodgerblue;
        }
        a .active {
            border: 1px solid #ff6a00;
            height: 50px;
        }

        .normal {
            border: 1px solid #cbcbcb;
            height: 50px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("IndexLaptop", "User", FormMethod.Get))
    {
        <div style="width: 30%; margin:auto; margin-top:50px;" class="row">
            <div class="col-lg-8">
                @Html.TextBox("SearchString", null, htmlAttributes: new { Class = "form-control", placeholder = "Tìm kiếm..." })
            </div>
            <div class="col-lg-4">
                <input class="btn btn-primary"
                       type="submit" name="Nhapmoi" value="Tìm kiếm" style="width:100%; display:inline;" />
            </div>
        </div>
    }
    <div style="width:80%; margin:auto;">
        <hr />
        @{
            string active = ViewBag.NSX;
            var db = new DoAnWeb.Models.MTPKEntities1();
            var list = db.NHASANXUATs;
            <div class="row">
                @foreach (var item in list)
                {<a href="@Url.Action("IndexLaptop", "User", new { page = 1, nsx = item.MANSX})">
                        @if (item.MANSX.Equals(active))
                        {
                            <div class="col-lg-1 center active">@item.TENNSX</div>
                        }
                        else
                        {
                            <div class="col-lg-1 center normal">@item.TENNSX</div>
                        }
                    </a>}
            </div>
        }
        <hr />

        <div class="row">

            @foreach (var item in Model)
            {
                <a style="text-decoration:none; color: black;" href="@Url.Action("Details", "User", new { id = item.MAMH})">
                    <div class="col-lg-2" style="
            width: 20%;
            border: solid 2px #808080;
            padding-top: 1em;
            height: 350px;
            border-radius: 2px;">
                        <img style="width: 100%;" src="/Images/Products/@Html.DisplayFor(modelItem => item.ANH)" />
                        <hr />
                        <div style="margin-left: 1em; margin-right: 1em;">
                            @Html.DisplayFor(modelItem => item.TENMH)

                            @if (item.GIAMGIA > 0)
                            {
                                <h4 style="color: red">
                                    @((item.DONGIA - (item.GIAMGIA * item.DONGIA / 100)).ToString("###,0")) VNĐ &nbsp; 
                                    <small><del>@item.DONGIA.ToString("###,0")</del></small>
                                </h4>
                            }
                            else
                            {
                                <h4 style="color: red">
                                    @item.DONGIA.ToString("###,0") VNĐ
                                </h4>
                            }
                        </div>
                    </div>
                </a>
            }

        </div>

        <div align="center">@Html.PagedListPager(Model, page => Url.Action("IndexLaptop", new { page, searchString = ViewBag.Search }))</div>
    </div>
</body>
</html>
