@model PagedList.IPagedList<DoAnWeb.Models.MATHANG>
@using PagedList.Mvc;

@{
    ViewBag.Title = "IndexPhuKien";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

        a div:hover img {
            position: relative;
            top: -5px;
        }

        a div:hover div {
            color: dodgerblue;
        }

        a .active {
            border: 1px solid #ff6a00;
            height: 50px;
        }

        .normal {
            border: 1px solid #cbcbcb;
            height: 50px;
        }

        .normal:hover {
            border-color: #ff6a00;
            cursor:pointer;
        }

        input {
            padding: 4px 10px;
            border: 1px solid #1c87c9;
            font-size: 16px;
        }

        .search {
            width: 75%;
        }

        .submit {
            width: 100px;
            background-color: #1c87c9;
            color: #ffffff;
        }
        .om {
            width: 400px;
            margin: auto;
            margin-top: 250px;
        }
    </style>
</head>
<body>
    <br />
    @using (Html.BeginForm("IndexPhukien", "User", FormMethod.Get))
    {
        <div style="width: 80%; margin:auto;" class="om">
            @Html.TextBox("SearchString", null, htmlAttributes: new { Class = "search", placeholder = "Tìm kiếm..." })
            <input type="submit" name="submit" class="submit" value="Tìm kiếm">
        </div>
    }
    <div style="width:80%; margin:auto; margin-top: 20px;">
        @{
            string active = ViewBag.MALOAI;
            var db = new DoAnWeb.Models.MTPKEntities1();
            var list = db.LOAIMATHANGs;
            <div class="row">
                @foreach (var item in list.Where(m => !m.MALOAI.Equals("LOAI000001")))
                {<a href="@Url.Action("IndexPhuKien", "User", new { page = 1, id = item.MALOAI})">
                        @if (item.MALOAI.Equals(active))
                        {
                            <div class="col-lg-1 center active">@item.TENLOAI</div>
                        }
                        else
                        {
                            <div class="col-lg-1 center normal">@item.TENLOAI</div>
                        }
                    </a>}
            </div>
        }
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                <a style="text-decoration:none; color: black;" href="@Url.Action("Details", "User", new { id = item.MAMH})">
                    <div class="col-lg-3" style="
            border: solid 2px #808080;
            padding-top: 1em;
            border-radius: 2px;">
                        <img style="width: 100%;" src="/Images/Products/@Html.DisplayFor(modelItem => item.ANH)" />
                        <hr />
                        <div style="margin-left: 1em; margin-right: 1em;">
                            @Html.DisplayFor(modelItem => item.TENMH)
                            <h4 style="color: red">
                                @item.DONGIA.ToString("###,0") VNĐ
                            </h4>
                        </div>
                    </div>
                </a>
            }

        </div>

        <div align="center">@Html.PagedListPager(Model, page => Url.Action("IndexPhuKien", new { page, searchString = ViewBag.Search }))</div>
    </div>
</body>
</html>
