
@{
    ViewBag.Title = "Select_2s";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    SelectList list = ViewBag.MAQH;
    var list1 = Session["giohang"] as List<DoAnWeb.Models.CTMH>;
}

    <div style="width:60%; margin:auto; border:2px dashed #808080; border-radius:10px; padding: 10px;">
        <style>
            textarea {
                max-width: 100%;
                min-width: 100%;
                min-height: 150px;
                max-height: 350px;
                border-radius: 10px;
            }

            div .bordered {
                border-radius: 8px;
            }

            div .right-border {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }

            .center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .v-center {
                display: flex;
                align-items: center;
                height: 100%;
            }

            .mua {
                width: 100%;
                display: inline-block;
                padding: 0.46em 1.6em;
                border: 0.1em solid #000000;
                margin: 0 0.2em 0.2em 0;
                border-radius: 0.12em;
                box-sizing: border-box;
                text-decoration: none;
                font-family: 'Roboto',sans-serif;
                font-weight: 300;
                color: #000000;
                text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
                background-color: #ff6a00;
                text-align: center;
                transition: all 0.15s;
                border-radius: 5px;
            }

                .mua:hover {
                    text-shadow: 0 0 2em rgba(255,255,255,1);
                    color: #FFFFFF;
                    border-color: #FFFFFF;
                }
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }
        </style>
        <div class="form-horizontal">
            @{
                if (list1 == null)
                {
                    <h1>Giỏ hàng trống</h1>
                }
                else
                {
                    <h1>Giỏ hàng</h1>
                    long total = 0;
                    int i = 0;
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Hình</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                        <th>Số lượng</th>
                                    </tr>
                                    @foreach (var item in list1)
                                    {
                                        <tr>
                                            @{ var db = new DoAnWeb.Models.MTPKEntities1();
                                                var mh = db.MATHANGs.Find(item.MAMH);
                                            }
                                            <td class="text-center"><img src="~/Images/Products/@mh.ANH" width="70" height="60" /> </td>
                                            <td><a target="_blank" href="@Url.Action("Details", "User", new { id = item.MAMH })" style="font-size:medium;"> @mh.TENMH </a> </td>
                                            <td> @mh.DONGIA.ToString("#,##0") </td>
                                            <td> @item.THANHTIEN.ToString("#,##0") </td>
                                            <td align="center"> <h5>@item.SOLUONG</h5></td>
                                        </tr>
                                        i++;
                                        total += item.THANHTIEN;
                                    }
                                </table>

                                <div>
                                    Tổng thành tiền:
                                    <span style="font-size:large;">@total.ToString("#,##0") VNĐ </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6">
                            <form name="q1" action="/User/Select_2s" method="post">
                                <div class="col-lg-12">
                                    @Html.Label("Tỉnh / Thành phố")
                                    <input type="text" name="tp" class="form-control" style="max-width: 100%;" value="@ViewBag.TENQH" disabled />
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form name="q1" action="/User/Select_3s" method="post">
                                @Html.Label("Quận / Huyện")
                                <select name="id" class="form-control" style="max-width: 100%;" required>
                                    @foreach (var item in list)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <button id="reg" class="btn btn-success">CHỌN</button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
    </div>