@model List<DoAnWeb.Models.MATHANG>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MAMH", rowsPerPage: 15);
}
<style>
    a:hover {
        cursor: pointer;
    }

    .alternatingRowStyle {
        background-color: #fff98c;
    }
</style>
@using (Html.BeginForm("Index", "QuanTri", FormMethod.Get))
{
    <div style="width: 30%; margin:auto; margin-top:50px;" class="row">
        <div class="col-lg-4">
            Tên mặt hàng
        </div>
        <div class="col-lg-8">
            <input class="form-control" type="text" name="name" value="@ViewBag.NAME" />
        </div>

        <div class="col-lg-4">
            Loại
        </div>
        <div class="col-lg-8">
            @Html.DropDownList("MALOAI", null, "Tất cả", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <input class="btn btn-primary"
                   type="submit" name="submit" value="Tìm kiếm" style="width:100%; display:inline;" />
        </div>
        <div class="col-lg-4">
            <input class="btn btn-primary"
                   type="button" name="Nhapmoi" value="Nhập mới" style="width:100%; display:inline;"
                   onclick="location.href='@Url.Action("Index", "QuanTri/Index")'" />
        </div>
    </div>
}
<hr />
<a href="@Url.Action("Create", "MATHANGs")" class="btn btn-success">Thêm mặt hàng</a>
<div id="gridContent">
    @ViewBag.TB
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: false,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
          columns: new[] {
              grid.Column("ANH","Hình", format: @<text><a>
        <img src="~/Images/Products/@item.ANH" width="70" height="60" />
    </a></text>),
grid.Column("TENMH","Tên", format:@<text><a href="@Url.Action("ProductDetails", "QuanTri", new{ id = item.MAMH})"><h5>@item.TENMH</h5></a></text>),
grid.Column("DONGIA","Đơn giá", format:@<text> @item.DONGIA.ToString("#,##0")</text>),
})
</div>
