@model DoAnWeb.Models.MATHANG

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .i-1{
        width: 120px;
    }
    .i-2{
        width: 50px;
    }
    .btn-group{
        margin-bottom: 5px;
    }
</style>
<div class="row" style=" margin:auto;">
    <h4>@Html.DisplayFor(model => model.TENMH)</h4>
    <hr />
    <div class="col-lg-4">
        <img style="width:100%;" src="~/Images/Products/@Model.ANH" />
    </div>
    <div class="col-lg-4">
        <h3 style="margin-top: 0;">Mã: <b class="id">#@Model.MAMH</b></h3>
        <h3 style="color: red;">@Model.DONGIA.ToString("###,0 VNĐ")</h3>
        <h3>Màu: <b>@Model.MAU</b></h3>
        <h3>Giảm giá: <b style="color:red;">@Model.GIAMGIA.ToString("0.0%")</b></h3>
    </div>
    <div class="col-lg-4">
        <div class="btn-group">
            @Html.ActionLink("Sửa", "Edit", "MATHANGs", new { id = Model.MAMH }, new { Class = "btn btn-warning i-1" })
            <button class="btn btn-warning i-2">
                <i class="fa fa-edit"></i>
            </button>
        </div><br />
        <div class="btn-group">
            @Html.ActionLink("Thông số", "TechInfo", new { id = Model.MAMH }, new { Class = "btn btn-primary i-1" })
            <button class="btn btn-primary i-2">
                <i class="fa fa-cogs"></i>
            </button>
        </div><br />
        <div class="btn-group">
            @Html.ActionLink("Ảnh", "ShowPictures", "QuanTri", new { id = Model.MAMH }, new { Class = "btn btn-primary i-1" })
            <button class="btn btn-primary i-2">
                <i class="fa fa-picture-o"></i>
            </button>
        </div><br />
        <div class="btn-group">
            @if (Model.CTGIOHANGs.Count <= 0)
            {
                @Html.ActionLink("Xóa", "DeleteProduct", new { id = Model.MAMH }, new { onclick = "return confirm('Bạn có muốn xóa mặt hàng này?');", Class = "btn btn-danger i-1" })
                <button class="btn btn-danger i-2">
                    <i class="fa fa-remove"></i>
                </button>
            }
            else
            {
                <button class="btn btn-danger i-1" disabled>
                    Xóa
                </button>
                <button class="btn btn-danger i-2" disabled>
                    <i class="fa fa-remove"></i>
                </button>
            }
        </div>
    </div>
</div>
<div class="row" style="width:80%; margin:auto;">
    <hr />
    <div class="col-lg-4" style="border: 1px solid black; border-radius:5px;">
        <h3>Ghi chú</h3>
        <hr />
        <h4>@Html.Raw(Model.GHICHU)</h4>
    </div>
    <div class="col-lg-4" style="border: 1px solid black; border-radius:5px;">
        <h3>Tên loại</h3>
        <hr />
        <h4>@Model.LOAIMATHANG.TENLOAI</h4>
    </div>
    <div class="col-lg-4" style="border: 1px solid black; border-radius:5px;">
        <h3>Nhà sản xuất</h3>
        <hr />
        <h4>@Model.NHASANXUAT.TENNSX</h4>
    </div>
</div>
<div class="row" style="width:80%; margin:auto;">
    <hr />
    <h2><b>Giới thiệu</b></h2>
    @Html.Raw(Model.GIOITHIEUMH)
</div>
<hr style="width:10%;"/>
