@model DoAnWeb.Models.MATHANG

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "MATHANGs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width: 80%; margin:auto;">
        <style>
            textarea {
                max-width: 100%;
                min-width: 100%;
                min-height: 150px;
                max-height: 350px;
                border-radius: 10px;
            }

            div .bordered {
                border-radius: 8px;
            }

            div .right-border {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }

            .center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .v-center {
                display: flex;
                align-items: center;
                height: 100%;
            }

            .mua {
                width: 100%;
                display: inline-block;
                padding: 0.46em 1.6em;
                border: 0.1em solid #000000;
                margin: 0 0.2em 0.2em 0;
                border-radius: 0.12em;
                box-sizing: border-box;
                text-decoration: none;
                font-family: 'Roboto',sans-serif;
                font-weight: 300;
                color: #000000;
                text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
                background-color: #ff6a00;
                text-align: center;
                transition: all 0.15s;
                border-radius: 5px;
            }

                .mua:hover {
                    text-shadow: 0 0 2em rgba(255,255,255,1);
                    color: #FFFFFF;
                    border-color: #FFFFFF;
                }
        </style>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="src" class="photo btn btn-primary">Chọn ảnh...</label><br />
            <input id="src" class="upload-photo" type="file" style="height:30px;" name="Avatar" accept="image/*" />
            <img id="target"  src="~/Images/Products/@Model.ANH" style="border: 2px solid #337ab7; border-radius:5px; height: 150px; width: 225px;" /><br />
            @Html.ValidationMessageFor(model => model.ANH, "", new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            @Html.HiddenFor(model => model.MAMH)
            <div class="col-lg-6">
                @Html.LabelFor(model => model.MALOAI, "Loại", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("MALOAI", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MALOAI, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(model => model.MANSX, "Nhà sản xuất", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("MANSX", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MANSX, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.EditorFor(model => model.TENMH, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên mặt hàng..." } })
                @Html.ValidationMessageFor(model => model.TENMH, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.MAU, new { htmlAttributes = new { @class = "form-control", @placeholder = "Màu..." } })
                @Html.ValidationMessageFor(model => model.MAU, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                @Html.EditorFor(model => model.DONGIA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Đơn giá...", @type = "number" } })
                @Html.ValidationMessageFor(model => model.DONGIA, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.GIAMGIA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Giảm giá...", @type = "number", @step = "0.1" } })
                @Html.ValidationMessageFor(model => model.GIAMGIA, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.GHICHU, "Ghi chú", htmlAttributes: new { Class = "label-control" })
            @Html.TextBoxFor(model => model.GHICHU, htmlAttributes: new { Class = "form-control", placeholder = "Ghi chú..." })
            @Html.ValidationMessageFor(model => model.GHICHU, "", new { @class = "text-danger" })
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.GIOITHIEUMH, "Giới thiệu thêm về mặt hàng", htmlAttributes: new { Class = "form-control" })
            @Html.TextAreaFor(model => model.GIOITHIEUMH, htmlAttributes: new { Class = "form-control", placeholder = "Giới thiệu... " })
            @Html.ValidationMessageFor(model => model.GIOITHIEUMH, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    function showImg(src, target) {
        var fr = new FileReader();
        fr.onload = function (e) { target.src = this.result; };
        src.addEventListener("change", function () {
            fr.readAsDataURL(src.files[0]);
        });
    }

    var src = document.getElementById("src");
    var target = document.getElementById("target");
    showImg(src, target);
</script>
<div>
    @Html.ActionLink("Trở về", "ProductDetails", "QuanTri", new { id = Model.MAMH}, new { @class = "btn btn-danger" })
</div>

