@model DoAnWeb.Models.QUANHUYEN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var grid = new WebGrid(Model.PHUONGXAs, canPage: true, defaultSort: "GIOHANGs.Count", rowsPerPage: 15);
}

<h2>Chỉnh sửa</h2>
@{ var tentp = Model.THANHPHO.TENTP;}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h4>Tỉnh / Thành phố: <b>@tentp</b></h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MATP)
        @Html.HiddenFor(model => model.THANHPHO)
        @Html.HiddenFor(model => model.MAQH)
        <div class="">
            @Html.LabelFor(model => model.TENQH, "Tên Quận / Huyện", htmlAttributes: new { @class = "control-label" })
            <div class="input-group" style="width:30%;">
                @Html.EditorFor(model => model.TENQH, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;" } })

                <span class="input-group-btn">
                    <input type="submit" value="Lưu" class="btn btn-default" />
                </span>
            </div>

            @Html.ValidationMessageFor(model => model.TENQH, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            </div>
        </div>
    </div>
}
<hr />
<div style="width: 100%;">
    <h3>Các Quận / Huyện thuộc Quận / Huyện <b>@Model.TENQH</b></h3>
    <input type="button" class="btn btn-success" value="Thêm Phường / xã"
           onclick="location.href = '@Url.Action("Create", "PHUONGXAs", new { id = Model.MAQH})'" />
</div>
<div id="gridContent">
    @ViewBag.TB
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "table-pager",
        fillEmptyRows: false,
        mode: WebGridPagerModes.All,
        alternatingRowStyle: "alternatingRowStyle",
          columns: new[] {
grid.Column("MAPX","Mã", format:@<text><h5>@item.MAPX</h5></text>),
grid.Column("TENPX","Tên", format:@<text> <h5 style="color: @(item.GIOHANGs.Count>0?"red":"green")">@item.TENPX</h5></text>),
grid.Column("GIOHANGs.Count","Số Giỏ hàng", format:@<text> <h5 style="color: @(item.GIOHANGs.Count>0?"red":"green")">@item.GIOHANGs.Count</h5></text>),
grid.Column("","", format:@<text>
    <span class="btn-group">
        <a class="btn btn-primary" href="@Url.Action("Edit", "PHUONGXAs", new{ id = item.MAPX})">Chỉnh sửa</a>
        <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "PHUONGXAs", new{ id = item.MAPX})'" @(item.GIOHANGs.Count>0?"disabled":"")>Xóa</button>
    </span>
</text>),
})
</div>

