@model DoAnWeb.Models.QUANHUYEN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var grid = new WebGrid(Model.PHUONGXAs, canPage: true, defaultSort: "GIOHANGs.Count", rowsPerPage: 15);
}

<h2>Chỉnh sửa</h2>
@{ var tentp = Model.THANHPHO.TENTP;}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h4>Tỉnh / Thành phố: <b>@tentp</b></h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MATP)
        @Html.HiddenFor(model => model.THANHPHO)
        @Html.HiddenFor(model => model.MAQH)
        <div class="">
            <h4>Mã: <b class="id">#@Model.MAQH</b></h4>
            <h4>Thành phố: <b class="">@Model.THANHPHO.TENTP</b></h4>
            @Html.LabelFor(model => model.TENQH, "Tên Quận / Huyện", htmlAttributes: new { @class = "control-label" })
            <div class="input-group" style="width:30%;">
                @Html.EditorFor(model => model.TENQH, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;" } })

                <span class="input-group-btn">
                    <input type="submit" value="Lưu" class="btn btn-default" />
                </span>
            </div>

            @Html.ValidationMessageFor(model => model.TENQH, "", new { @class = "text-danger" })
        </div>
        <hr />
        <div class="">
            <h3>Các Quận huyện đã có</h3>
            @if (ViewBag.THANHPHO != null)
            {
                <ul>
                    @foreach (var item in (ViewBag.THANHPHO as List<DoAnWeb.Models.QUANHUYEN>).Where(m => m != Model))
                    {
                        <li>@item.TENQH</li>
                    }
                </ul>
            }
            else
            {
                <h3>Còn trống</h3>
                <a href="@Url.Action("Create", "QUANHUYENs")">Thêm quận huyện</a>
            }
        </div>
    </div>
}

