@model IEnumerable<DoAnWeb.Models.QUANHUYEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENQH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THANHPHO.TENTP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENQH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THANHPHO.TENTP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAQH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAQH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAQH })
        </td>
    </tr>
}

</table>
